<h1>アカウントの確認ページ</h1>

<.form let={_f} for={:account} action={Routes.account_confirmation_path(@conn, :update, @token)}>
  <div>
    <%= submit "アカウントの確認" %>
  </div>
</.form>

<p>
  <%= link "アカウントの登録", to: Routes.account_registration_path(@conn, :new) %> |
  <%= link "ログイン", to: Routes.account_session_path(@conn, :new) %>
</p>
