ここに説明を書く
1.アカウントを登録します。(アカウントごとに登録したサービスを管理いたします。)
ここにたぬきがアカウントの登録する画面をクリックしている絵を貼る
2.ログインしましたら始めるボタンを押してください
3.まずは、利用しているサービスを登録するところから始めましょう登録ボタンを押してください
4.サービスの一覧がセレクトボックスとかなんとかで表示されるので、選択したあと登録ボタンを押してください。
5.登録しましたら先程の画面にご利用のサービスの一覧と月にかかるサブスクリプションサービスの合計金額が表示されます
6.気軽にご利用ください
