<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/tmp_content.css")}/>

<div class="content">
    <h3><%= @topic.title %></h3>
    <div class="left_text">
    <p>　<%= @topic.text %></p>
    </div>
</div>
