<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/tmp_content.css")}/>

<div class="content">
    <h1>アカウント退会について</h1>
    <p>退会しますとこれまで当アプリに登録されていた内容はすべて削除され、<br>また支払期限を知らせるメールなども送信されなくなります。<br>退会しますか?</p>

    <button>退会します</button>
</div>