<ul>
<%= if @current_account do %>
  いらっしゃい、<%= @current_account.name %> さん!
  <li><%= link "アカウントの設定をする", to: Routes.account_settings_path(@conn, :edit) %></li>
  <li><%= link "ログアウトする", to: Routes.account_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "アカウントの登録をする", to: Routes.account_registration_path(@conn, :new) %></li>
  <li><%= link "ログインする", to: Routes.account_session_path(@conn, :new) %></li>
<% end %>
</ul>
