<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/footer.css")}/>

<table>
    <tr>
        <th>当サイトについて</th><th>個人向け</th><th>企業向け</th>
    </tr>
    <tr>
        <td><%= link "使い方について", to: Routes.page_path(@conn, :help) %></td><td>マネージャを使用</td><td>利用サービスの統計</td>
    </tr>
</table>