#front {
    height: auto;
}

.main_contents > .container{
    width: 100%;
    height: 100%;
    display :flex;
    flex-direction: column;
    justify-content: center;
}

.main_contents > .container > .content{
    background: #ffffff;
    width: 90%;
    max-width: 1000px;
    margin: 1% auto 1%;
    padding-top: 2%;
    padding-bottom: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    /* スクロールありにする */
    /* height: 700px;
    overflow: scroll; */
}

.user_data {
    width: 90%;
    margin: auto;
    text-align: left;
    text-align: center;
    background-color: rgb(212, 212, 212);
}
.page_title {
    font-size: 30px;
}
.one-block {
    margin: 20px 0 20px 0;
}

.h3_div {
    margin-left: 10%;
}

.submit_button{
    text-align: right;
}

.left_text {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.title_left {
    height: 30px;
    width: 30px;
    margin-left: 2%;
    background-image: url(../images/return.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.title_left a {
    display: block;
    width: 100%;
    height: 100%;
}

.one-block {
    font-size: 20px;
}
input {
    width: 250px;
    height: 25px;
}
.check_input input {
    scale: 0.8;
}
select {
    width: 60px;
    height: 30px;
}
button {
    height: 30px;
}

.divdiv {
    display: none;
}
@media screen and (max-width: 767px){
    .divdiv {
        display: block;
    }
}