/* ベースとなるcss */

*{
    margin: 0px;
    padding: 0px;
}

html {
    background-color: rgba(255, 255, 255, 0);
}

body{
    font-family: 'Exo', sans-serif;
}

.front {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.main_contents{
    width: 100%;
    /*高さ↓　ヘッダーのpxとフッターのpxを引いてる */
    height: calc(100% - 100px);
}

/* alert-infoをabsolute */
.container {
    position: relative;
}
.container > .alert-info,
.container > .alert-danger {
    position: absolute;
    top: 0;

    animation-name: alert-opacity;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;

}


@keyframes alert-opacity{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



/* スクロールバーの太さなど*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}
/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, .5);
    border-radius: 10px;
    box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
