/*ヘッダーのcssだよ*/

header {
    height: 100px;
    width: 100%;
    
}

.container.header{
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: space-between;

    /* background-image: url(../images/Tree-5.png);
    background-size: contain;
    background-repeat: repeat-x; */
}
.header > a {
    margin-left: max(20px, 3%);
}
/* ヘッダーのロゴの画像サイズをトリミングしてる　あとで画像自体をトリミングしたい */
.header_logo {
    width: 420px;
    height: 100px;
    object-fit: cover;
}

/* .header-image {
} */

.nav-header {
    display: flex;
    height: 100px;
}
.nav-header div {
} 

/* ハンバーガーメニューcss */
header a {
    text-decoration: none;
}
.header-ul{
}
.header-ul li {
    white-space: nowrap;
    overflow-x: scroll;
}
.header-ul .mail_address {
    display: none;
}

header ul,
header li {
    list-style: none;
}

.hamburger_div {
    margin: 0 20px;
    display: flex;
}
.hamburger_div2{
    width: 50px;
    height: 50px;
    margin: auto;
}

/*hamburger_button と hamburger_button2　のcssは下の方にもう一つある */
.hamburger_button {
    position: relative;
    margin: auto 0;
    width: 50px;
    height: 50px;
}

.hamburger_button2{
    z-index: 20;
}

.hamburger_nav {
    width: 300px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0px;
    right: 0;
    padding: 30px;
    border-radius: 10px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: background-color .2s, opacity .2s ,visibility .2s;
}

.hamburger_nav.active{
    background-color: rgb(211, 211, 211);
    visibility: visible;
    opacity: 1;
}
.hbg_nav_p{
    font-size: 20px;
}

/*ハンバーガーの線のcss*/
.hamburger_button{
    background-color: rgba(255, 255, 255, 0);
}

.hamburger_button2{
    width: 100%;
    height: 100%;
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    background:#57a2c7;
    cursor: pointer;
    transition: all .3s;
    
    border-radius: 5px;
}

/*ボタン内側*/
.hamburger_button2 span{
    display: inline-block;
    transition:  .0s;/*アニメーションの設定*/
    transition-delay: .1s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
}

.hamburger_button2 span:nth-of-type(1) {
    top:15px; 
}

.hamburger_button2 span:nth-of-type(2) {
    top:23px;
}

.hamburger_button2 span:nth-of-type(3) {
    top:31px;
}

.hamburger_button2.active {
    transform: rotateY(180deg);
}

/*activeクラスが付与されると回転する処理*/
.hamburger_button2.active {
    background-color: blue;
    transform: rotateY(180deg);
}


/*activeクラスが付与されると線が回転して×に*/

.hamburger_button2.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.hamburger_button2.active span:nth-of-type(2) {
    opacity: 0;/*真ん中の線は透過*/
}

.hamburger_button2.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
.header_left {
    margin-left: 50px;
}
.header_left > a {
    display: flex;
}
.account-info {
    width: calc(100vw - 660px);
    text-align: right;
}
.sumaho_rogo {
    content: "";
    background-image: url(../images/rogotanu_touka.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 767px){
    header,
    .sumaho_rogo,
    .nav-header {
        height: 70px;
    }
    .header_left {
        margin-left: 0;
    }
    
    /* .header > a {
        display: none;
    } */
    
    .pc_rogo {
        display: none;
    }
    .account-info {
        width: calc(100vw - 190px);
    }
}
