.container{
    width: 100%;
    height: 100%;
}

.login-page {
    /* width: 100%;
    height: 80vh;
    padding: 8% 0 0;
    margin: 10px; */
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
}

/*ログインの白い四角い枠の色変えるならここ*/
.form {
    /* position: relative; */
    z-index: 1;
    background: #ffffff;
    width: 95%;
    /* min-width: 300px; */
    max-width: 400px;
    margin: 4% auto 4%;
    /* padding: 45px; */
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    overflow: scroll;
}

.form_top {
    height: 20%;
    display: flex;
}
.page_title {
    font-weight: bold;
    font-size: 35px;
    margin: auto;
}
.form_middle {
    height: 70%;
}
.form_middle form {
    max-width: 500px;
    margin: 0 10px;
    font-size: 17px;
}
.form_bottom {
    height: 10%;
}




.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
#account_remember_me {
    scale: 1.5;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}

.form .message {
    color: #b3b3b3;
    font-size: 15px;
}

.form .message a {
    color: #4CAF50;
    /* text-decoration: none; */
}
.form .register-form {
    display: none;
}

.seibetu {
    margin: 10px;
}