.main_contents > .container{
    width: 100%;
    height: 100%;
    /*display :flex; */
    flex-direction: column;
    justify-content: center;
}

.container > .big_content {
    height: 100%;
    display :flex;
    justify-content: center;
}

.main_contents > .container > .big_content > .content{
    background: #ffffff;
    width: 500px;
    max-height: 800px;
    height: 95%;
    margin: auto 1%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    display: grid;
    grid-template:
        "top    top     top"    1fr
        "left   middle  right"  8fr
        "bottom bottom  bottom" 1fr
        / 10px  1fr     10px;
}

.top_content{
    grid-area: top;

}
.middle_content{
    background-color: rgb(201, 201, 201);
    grid-area: middle;
    overflow-y: scroll;
}
.bottom_content{
    grid-area: bottom;
}
.left {
    grid-area: left;
}
.right {
    grid-area: right;
}

/*  gridレイアウトつかってみたい */
.subsc_card {

    background-color: rgb(191, 255, 108);
    height: 80px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgb(0, 0, 0, .5);
    display: flex;
    border: none;
}



.container > .big_content > .content2{
    width: 900px;
    max-height: 800px;
    height: 95%;
    margin: auto 1%;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.contents-b {
    margin: auto;
    width: 95%;
    height: 95%;
}

.chart-back {
    width: 100%;
    height: 100%;
}

.chart001 {
    width: 100%;
    height: 100%;
}