
/* セレクトボックスの長さ */
/* .select2.select2-container.select2-container--default {
    width: 300px;
} */

.select2.select2-container.select2-container--default{
    width: 300px;
}

.main_contents > .container{
    width: 100%;
    height: 100%;
    display :flex;
    flex-direction: column;
    justify-content: center;
}

.main_contents > .container > .content{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    max-width: 900px;
    height: 95vh;
    max-height: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    font-size: 20px;
}

.page_title{
    display: flex;
    margin: auto;
    font-weight: bold;
    font-size: 30px;
    height: 15%;
}
.page_title_content {
    margin: auto;
}

.genre_select_area {
    display: flex;
    height: 10%;
}
.genre_select_area_content {
    width: 100%;
    margin: auto;
    display: flex;
}
.genre_text_div {
    margin: 0 7%;
}
.genre_select_div {
    width: 150px;
}
.genre_select {
    width: 100%;
    height: 30px;
}
/*セレクトボックスのそれぞれの表示非表示とか*/
.select_content {
    height: 75%;
    display: none;
}
.select_content.active {
    display: flex;
    flex-direction: column;
}
.form_div {
    height: 10%;
}
.form_div > form{
    display: flex;
    justify-content: space-around;
}

.select_box{
}
#subscribe_date_of_contract_year,
#subscribe_date_of_contract_month,
#subscribe_date_of_contract_day {
    height: 30px;
}
#subscribe_continue {
    scale: 1.5;
}
.select_day {
}
.select_day_box {
    display: inline-block;
}
.check_box {
    display: inline-block;
}


.select_submit > button {
    width: 100px;
    height: 30px;
}

ul {
    list-style-type: none;
}
.subsc_info li {
    display: none;
}
.subsc_info li.active {
    display: inline-block;
}

.subsc_info {
    background-color: rgb(233, 255, 172);
    /* margin: 50px 20px 10px 20px; */
    margin: 3% 2% 2% 2%;
    border-radius: 10px;
    height: 85%;
    box-sizing: border-box;
}
.subsc_info_title {
    font-weight: bold;
    font-size: 30px;
}
.subsc_info_price {
    text-align: right;
    margin-right: 5%;
    font-weight: bold;
    font-size: 25px;
}
#subscription_list,
#subscription_list li {   
    height: 100%;
}
#subscription_list li.active {
    display: flex;
    flex-direction: column;
}
.subsc_info_bottom {
    flex-grow: 1;
}
.subsc_info_bottom p {
    margin-top: 3%;
}




@media screen and (max-width: 767px){
    .main_contents > .container > .content {
        height: 80vh;
        max-height: 1000px;
        margin: 0 5px 0 5px;
    }
    .select2.select2-container.select2-container--default{
        width: 100%;
        max-width: 300px;
    }
    .page_title{
        height: 8%;
    }
    .genre_select_area {
        height: 7%;
    }
    .select_content {
        height: 85%;
    }
    
    .form_div > form{
        flex-direction: column;
        text-align: left;
        height: 100%;
    }
    .select_box,
    .select_day,
    .select_submit {
        margin: 5px;
    }
    .select_day {
        text-align: right;
        margin-right: 3%;
    }
    .select_submit {
        text-align: center;
        margin: auto;
    }
    
    .form_div {
        height: 30%;
    }
    .subsc_info {
        height: 70%;
    }
}


