/* bace.cssの値を修正 */
#front {
    height: auto;
}

.main_contents > .container{
    width: 100%;
    height: 100%;
    /* display :flex;
    flex-direction: column;
    justify-content: center; */
}
.main_contents > .container > .content{
    background: #ffffff;
    max-width: 1500px;
    width: 95%;
    /* height: 90%; */
    margin: 2% auto;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}
.content_top {
}
.page_title {
    margin-bottom: min(2%, 15px);
    display: flex;
}
.page_back {
    height: 30px;
    aspect-ratio: 1/1;
    /* border-radius: 10px; */
    max-height: 30px;
    margin: 0 0 auto 2%;
    background-image: url(../images/return.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.page_back > a {
    width: 100%;
    height: 100%;
    display: block;
}
.page_title_content,
.page_title_content_mobile {
    font-size: clamp(30px, 3vw, 35px);
    font-weight: bold;
    margin: auto;
}
.page_title_content_mobile {
    display: none;
}
.anser_ratio {
    font-size: large;
    background-color: #ebffb5;
}
.content_buttom{
    margin: 10px;
    /*background-color: rgb(235, 235, 235); */
    border-radius: 10px;
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
}


.tab_select {
    display: flex;
    font-size: 25px;
}
.tab_button {
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    padding: 0 10px;
    background-color: rgb(211, 211, 211);
}
.service_button {
    margin-left: 20px;
}
.genre_button {
    margin-left: 10px;
}
.active {
    background-color: #a7e8ba;
}
.ranking {
    border-radius: 10px 10px 0 0;
}

.ranking_title {
    height: 30px;
    font-weight: bold;
    font-size: clamp(20px, 3vw, 25px);
}

.ranking_service {
    display: none;
    background-color: #a7e8ba;
}
.ranking_service.active {
    display: block;
}
.ranking_genre {
    display: none;
    background-color: #a7e8ba;
}
.ranking_genre.active {
    display: block;
}

.ranking_and_graph {
    display: flex;
    min-height: 300px;
    padding-bottom: clamp(10px, 2vw, 30px);
}
.age_circle_graph {
    padding-bottom: clamp(10px, 2vw, 30px);
}
.div_rag_ranking {
    display: flex;
    justify-content: center;
    width: 50%;
}
.rag_ranking {
    width: auto;
    text-align: left;
    /* max-width: 70%;
    margin-left: 10%; */
    max-width: 85%;
}

/* ランキングのliの処理 */
/* olリストの数字の位置を内側　タイトルと同じにする */
.content li {
    /* list-style-position: inside; */
    display: flex;
    list-style: none;
}
.content li .li_right {
    overflow-x: scroll;
}

.content li:nth-child(-n + 3) {
}
/* ランキングサービス全体のsubsc_name設定*/
.ranking_service li .subsc_name,
.ranking_genre li .subsc_genre {
    font-size: clamp(18px, 2vw, 20px);
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    display: block;
}
.ranking_service .medal.no1 + .li_right .subsc_name,
.ranking_service .medal.no2 + .li_right .subsc_name,
.ranking_service .medal.no3 + .li_right .subsc_name {
    font-size: clamp(30px, 2.5vw, 40px);
}
.ranking_genre .medal.no1 + .li_right .subsc_genre,
.ranking_genre .medal.no2 + .li_right .subsc_genre,
.ranking_genre .medal.no3 + .li_right .subsc_genre {
    font-size: clamp(25px, 2.5vw, 40px);
}
/* ランキング全体のsubsc_genre設定*/
.ranking_service li .subsc_genre {
    font-size: clamp(15px, 1vw, 18px);
    display: block;
}
/* １〜３位のsubsc_genreの設定 */
.ranking_service li .no1 + .li_right .subsc_genre,
.ranking_service li .no2 + .li_right .subsc_genre,
.ranking_service li .no3 + .li_right .subsc_genre {
    font-size: clamp(15px, 2vw, 20px);
}

/* ランキングの11以下を非表示 */
.ranking_service li:nth-child(n + 11) {
    display: none;
}
.ranking_service li:nth-child(1) .subsc_name{
}
.ranking_service li:nth-child(-n + 3) {
}
/* 四位以下に表示するメダルの設定 */
.medal {
    margin-top: 2.5%;
    display: block;
    width: 3vw;
    max-width: 50px;
    min-width: 40px;
    height: 3vw;
    min-height: 25px;
    max-height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.medal.no1,
.medal.no2,
.medal.no3 {
    height: 3vw;
    min-height: 40px;
    max-height: 50px;
}
.medal.no1 {
    background-image: url(../images/medal_no1.png);
}
.medal.no2 {
    background-image: url(../images/medal_no2.png);
}
.medal.no3 {
    background-image: url(../images/medal_no3.png);
}
.medal.no4 {
    background-image: url(../images/number_4.png);
}
.medal.no5 {
    background-image: url(../images/number_5.png);
}
.medal.no6 {
    background-image: url(../images/number_6.png);
}
.medal.no7 {
    background-image: url(../images/number_7.png);
}
.medal.no8 {
    background-image: url(../images/number_8.png);
}
.medal.no9 {
    background-image: url(../images/number_9.png);
}
.medal.no10 {
    background-image: url(../images/number_10.png);
}


.rag_graph {
    width: 50%;
}

.overall_service {
}
.gender_service {
    
}
.age_circle_graph {
    display: flex;
    flex-wrap: wrap;
}
.overall_age_service {

}
.male_service {
}
.male_age_service {

}
.female_service {
}
.female_age_service {

}
.overall_genre {
}
.gender_genre {
    
}
.overall_age_genre {
}
.div_overall_age_genre {
    display: flex;
    flex-wrap: wrap;
    display: none;
    
}
.male_genre {
}
.female_genre {
}
.male_age_genre {
    text-align: center;
}
.div_male_age_genre {
    display: flex;
    flex-wrap: wrap;
    display: none;
}
.female_age_genre {
    text-align: center;
}
.div_female_age_genre {
    display: flex;
    flex-wrap: wrap;
    display: none;
}
.mini_ranking_and_graph {
    width: 25%;
}
.mini_ranking {

}
.mini_ranking .ol_ranking {
    display: none;
}
.mini_graph {
    min-height: 200px;
}
.rag_bar_graph {
    width: 100%;
    height: 500px;
}
.graph {
    width: 100%;
    height: 100%;
}
.active {
    display: block;
}
/* .ranking_service .subsc_name {
    font-size: 20px;
}
.ranking_service .subsc_genre {
    font-size: 10px;
} */
.ranking_service .subsc_reginum {
    display: none;
}

.ranking_genre .subsc_genre {
    font-size: 20px;
}
.ranking_genre .subsc_reginum {
    display: none;
}

.subsc_ratio {
    display: none;
}

.graph_label {
    
}

@media screen and (max-width: 767px){
    .page_title_content {
        display: none;
    }
    .page_title_content_mobile {
        display: block;
    }
    .ranking_and_graph {
        display: flex;
        flex-wrap: nowrap;
        justify-content: unset;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .div_rag_ranking {
        min-width: 100%;
        scroll-snap-align: start;
    } 
    .rag_graph {
        min-width: 100%;
        scroll-snap-align: start;
    }
    .age_circle_graph {
        flex-wrap: nowrap;
        justify-content: unset;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .div_female_age_genre {
        
    }
    .mini_ranking_and_graph {
        min-width: 50%;
        scroll-snap-align: start;
    }
    .div_rag_bar_graph {
        width: 100%;
        overflow-x: scroll;
    }
    .rag_bar_graph {
        min-width: 180%;
    }

}
