/* api画面についてる */

#front {
    height: auto;
}
.main_contents {
    min-height: calc(100vh - 100px);
}

.main_contents > .container{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 100px);
    display :flex;
    flex-direction: column;
    justify-content: center;
}
.container > .content{
    background: #ffffff;
    width: 98vw;
    max-width: 1000px;
    min-height: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.page_title {
    font-weight: bold;
    font-size: clamp(30px, 3vw, 35px);
    height: 10%;
}
.inner_content {
    height: 90%;
}


.left_text {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.container > .content{
    margin: 4% auto;
    min-height: 90%;
}

@media screen and (max-width: 767px){
    .main_contents {
        min-height: calc(100vh - 70px);
    }
}