<h1>サブスクリプション登録</h1>

<.form let={f} for={@changeset} action={Routes.manager_path(@conn, :create)}>

    <%= select f, :subscription_id, Enum.map(@subscription_list, fn(s) -> {s.name, s.id} end), selected: [1] %>

    <div>
        <%= submit "登録" %>
    </div>
</.form>

<%= for subscription <- @subscription_list do %>
    <h3 id="#text{subscription.id}"><%= subscription.name %></h3>
    <p name="#{subscription.name}"><%= subscription.description %></p>
<% end %>