<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/tmp_content_long.css")}/>

<div class="content">
    <div class="page_title">APIドキュメント一覧</div>
    <ul class="left_text">
        <%= for document <- @document_list do %>
            <li><a href={"/doc/#{document.id}"}><%= document.name %></a><div>　<%= document.text %></div></li>
        <% end %>
    </ul>
</div>
