<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/tmp_content.css")}/>

<div class="content">
    <h3>API名</h3>
    <div>GET: <%= @document.name %></div>
    <p><%= @document.text %></p>
    <h3>出力フォーマット</h3>
    <%= @document.format %>
</div>
